body {
    background: rgb(223, 106, 77) !important;
    width: 100% !important;
    overflow-x: hidden;
}

/*Responsive*/
@media only screen and (max-width: 739px){
    .swiper-container{
        font-size: 15px;
        height: 60px;
    }
    .nut {
        position: absolute;
        right: 35%;
        top: 17px;
        font-size: 25px;
    }
    .menu{
        text-align: right;
    }
    .menu a {width: 100%;}

    .menu2 {display: none !important;}
    .menu:hover > a{
        background-color: none !important;
    } 
    .search {
        position: absolute;
        width: 80% !important;
        right: 10%;
        top: 0;
    }
    .search .nuttim {display: none;}
    .search .timkiem  {
        position: absolute;
        top: 10px;
        right: 8px;
        font-size: 17px;
    } 
    .list-tabs span, .sort{display: none;}
    .list-tabs li, a{
        width: 70px;
        float: left;
        font-size: 12px;
        font-weight: 500;
        padding: 2px !important;
    }
    .col-select {
        display: none;
    }
    .products {
        width: 150px;
    }
    .img-product {
        width: 150px;
    }
    .tragop, .lixi {
        position: absolute;
        padding: 0 2px;
        background: red;
        border-radius: 5px;
        left: 10px;
        bottom: 20px;
    }
    .lixi {
        bottom: 0px;
    }
    .memory .btn{
        width: 40px;
        font-size: 10px;
        color: black;
        background: rgb(224, 217, 217);
        padding: 0px !important;
    }
    .infor-product {
        width: 120%;
        font-size: 12px; 
    }
    .optain {
        width: 10px;
    }
    .price {
        margin-left: 10px;
    }
    .before-price {
        font-size: 12px;
        text-decoration: line-through;
        display: block;
        margin: 7px 0px -10px 7px;
    }
    .progress { 
        margin-top: 12px;
        border-radius: 20px !important;
        background: rgb(243, 160, 160) !important;
        width: 90%;
        height: 15px !important;
    }
    .progress-bar{
        width: 90%;
        font-size: 13px;
        background: red !important;
        border-radius: 20px;
    }
    .infor-detail {
        display: none;
    }
    .contact iframe {
        height: 180px !important;
    }
    .swiper-container {
        background: white;
        border-radius: 10px;
        text-align: center;
    }
    .swiper-wrapper {
        display: flex;
        width: 100%;
        padding: 7px;
    }   
    .swiper-slide img {
        width: 100%;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: red !important;
        border-radius: 50%;
        width: 10px !important;
        height: 10px !important;
        opacity: 0.6;
    }
    .mySlide li {
        background-color: red !important;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1024px){
    .swiper-container{
        font-size: 20px;
        height: 80px;
    }
    .nut {
        position: absolute;
        right: 40%;
        top: 20px;
        font-size: 25px;
    }
    .menu{
        text-align: right;
    }
    .menu a {width: 100%;}
    .menu2{display: none !important;}
    .menu:hover > a{
        background-color: none !important;
    }
    .search {
        position: absolute;
        width: 80% !important;
        right: 10%;
        top: 0;
    }
    .search .nuttim {display: none;}
    .search .timkiem  {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 8px;
    } 
    .list-tabs span, .sort{display: none;}
    .list-tabs li, a{
        width: 80px;
        float: left;
        font-size: 12px;
        font-weight: 500;
        padding: 2px !important;
    }
    .col-select {
        display: none;
    }
    .products {
        width: 220px;
    }
    .img-product {
        width: 220px;
    }
    .tragop, .lixi {
        position: absolute;
        padding: 0 8px;
        background: red;
        border-radius: 5px;
        left: 20px;
        bottom: 50px;
    }
    .lixi {
        bottom: 25px;
    }
    .infor-product {
        width: 100%;
        font-size: 17px;
    }
    .memory .btn{
        width: 40px;
        font-size: 15px;
        color: black;
        background: rgb(224, 217, 217);
        padding: 5px 30px !important;
    }
    .memory .btn strong {
        margin-left: -20px;
    }
    .before-price {
        font-size: 15px;
        text-decoration: line-through;
        display: block;
        text-align: center;
        margin: 7px 0px -10px 7px;
    }
    .infor-detail {
        margin-top: 10px;
        width: 100%;
        background: rgb(221, 215, 215);
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .progress { 
        margin-top: 12px;
        border-radius: 20px !important;
        background: rgb(243, 160, 160) !important;
        width: 100%;
        height: 25px !important;
    }
    .progress-bar{
        width: 90%;
        font-size: 15px;
        background: red !important;
        border-radius: 20px;
    }
    .contact iframe {
        height: 200px !important;
    }
    .swiper-container {
        background: white;
        border-radius: 10px;
        text-align: center;
    }
    .swiper-wrapper {
        display: flex;
        width: 100%;
    }
    .swiper-slide img {
        width: 100%;
        padding: 10px;
        transition: 0.5s;
    }
    .swiper-slide:hover img{
        transform: scale(1.2);
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: red !important;
        border-radius: 50%;
        width: 30px !important;
        height: 30px !important;
        opacity: 0.6;
    }
    .mySlide li {
        padding: 0px 2px 0px 20px;
        background-color: red !important;
    }
}
@media only screen and (min-width: 1024px){
    .swiper-container{
        font-size: 25px;
        height: 100px;
    }
    .nut {
        position: absolute;
        right: 16%;
        top: 20px;
        font-size: 20px;
    }
    .menu:hover > a{
        background-color: rgb(235, 87, 61) !important;
    }
    .search {
        position: absolute;
        width: 150px !important;
        right: 0;
        top: 0;
    }
    .search .tim {
        visibility: visible;
        position: absolute;
        transform: translate(-9px, -49px);
        opacity: 0;
        transition: 0.4s;
    }
    .search .timra {
        visibility: visible;
        opacity: 1;
        transform: translate(-60px, -10px);
        width: 200px;
    }
    
    .search .nuttim {
        position: absolute;
        top: -50px;
        right: -100px;
        background: rgb(42, 216, 42);
    }
    .search .nuttim:hover {
        background: blue !important;
    }
    .close-search {
        position: absolute;
        top: -10px;
        right: 0;
        font-size: 25px;
    }
    .search .timkiem  {
        position: absolute;
        top: 10px;
        right: 8px;
    } 
    .products {
        width: 220px;
    }
    .img-product {
        width: 220px;
    }
    .tragop, .lixi {
        position: absolute;
        padding: 0 10px;
        background: red;
        border-radius: 5px;
        left: 20px;
        bottom: 50px;
    }
    .lixi {
        bottom: 25px;
    }
    .infor-product {
        font-size: 17px;
    }

    .before-price {
        font-size: 15px;
        text-decoration: line-through;
        display: block;
        text-align: center;
        margin: 7px 0px -10px 7px;
    }
    .progress { 
        margin-top: 12px;
        border-radius: 20px !important;
        background: rgb(243, 160, 160) !important;
        width: 100%;
        height: 25px !important;
    }
    .progress-bar{
        width: 90%;
        font-size: 15px;
        background: red !important;
        border-radius: 20px;
    }
    .infor-detail {
        margin-top: 10px;
        width: 100%;
        background: rgb(221, 215, 215);
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    .swiper-container {
        background: white;
        border-radius: 10px;
        text-align: center;
    }
    .swiper-wrapper {
        display: flex;
        width: 100%;
    }
    .swiper-slide img {
        width: 100%;
        padding: 10px;
        transition: 0.5s;
    }
    .swiper-slide:hover img{
        transform: scale(1.2);
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: red !important;
        border-radius: 50%;
        width: 30px !important;
        height: 30px !important;
        opacity: 0.6;
    }
    .mySlide li {
        padding: 0px 2px 0px 20px;
        background-color: red !important;
    }
}

/*Bar*/
.header {
    position: relative;
}
.navbar {
    position: absolute;
    background: rgb(84,54,185);
    background: linear-gradient(22deg, rgb(209, 100, 56) 46%, rgba(121,9,109,1) 91%);
}
.navbar-brand img{width: 80px; height: 40px;}
.navbar-collapse ul{
    margin: auto;
}
.navbar-collapse a{
    color: rgb(0, 0, 0) !important;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
} 
.container {
    background: rgb(226, 92, 92);
    margin-top: 36px;
}


/*notificon*/
.nut {
    background: none;
    border: none;
    color: yellow;
}
.close-tb{
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: red;
    font-size: 25px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.hi {
    position: relative;
    width: 400px;
    padding: 25px;
    background: rgb(245, 160, 160);
    border-radius: 20px;
    border: 2px solid red;
    box-shadow: 0 0 10px 2px rgb(207, 13, 13);
}
.content-notification{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity linear 0.2s;
    font-size: 20px;

}
.content-notification:target {
    visibility: visible;
    opacity: 1;
}
/*Menu con*/
.menu {
    position: relative;
    padding: 0 10px;
}

.menu .menu2 {
    position: absolute;
    z-index: 3;
    background: rgb(219, 161, 161);
    padding: 20px;
    width: 500px;
    display: flex;
    border-radius: 10px;
    visibility: hidden;
    transform: translateY(2em);
    opacity: 0.6;
    transition: 0.2s;
}
.menu:hover .menu2 {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.menu2 .title {
    font-weight: 800;
    font-size: 14px;
}
.menu2 .left {
    width: 60%;
    border-right: 2px solid rgb(212, 208, 208);
}
.menu2 .right {
    margin-left: 10%;
}
.menu2 .brand-sx {
    display: flex;
    flex-wrap: wrap;
}
.menu2 ul {
    list-style: none;
    justify-content: space-around;
}
.menu2 a {
    color: black !important;
    font-size: 15px;
    margin-left: -10px;
    padding: 10px;
}
.menu2 li {
    width: 125px;
    margin-left:-37px;
    text-align: center;
}
.menu2 .gia li {
    text-align: left !important;
}
.menu2 .brand-sx li{
    margin-top: 10px;
}
.menu2 li:hover {
    background-color: rgb(248, 109, 109);
}
a:hover {
    text-decoration: none !important;
}
.menu2 .full li{
    width: 200px;
}
/*Slide*/
.mySlide {
    width: 100%;
    height: 100%;
    padding: 30px 0px 30px 0px;
}
.mySlide img {
    width: 100%;
    height: 100%;
}
.mySlide .carousel-inner {
    box-shadow: 0px 0px 13px 1px white;
}

.col-select h4{
    padding-top: 20px;
}
  
.check-list{
    width: 300px;
    font-size: 17px;
    padding-left: 10px;
}
.sapngang {
    display: flex;
    flex-flow: row wrap;
}

.check-list .item {
    width: 140px;
}
.list-product{
    background: white;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 15px;
}
.uudai a:hover {
    background: rgb(143, 138, 138);
}
.uudai .chon {
    background: rgb(245, 122, 122) !important;
}
.item img {
    width: 100%;
}
.list-tabs {
    display: flex;
    text-align: center;
}
.list-tabs span {
    line-height: 40px;
    margin-left: 10px;
}
.nav-tabs{
    margin: auto;
}
.sort-btn {
    background: rgb(70, 70, 161) !important;
}
.list-product .list-pr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around !important;
}
/*Produts*/

.products {
    position: relative;
    padding: 10px;
}
.products > a {
    width: 100%;
    color: black;
}
.products:hover > a {
    color: black;
}
.img-product {
    position: relative;
}
.img-product img {
    width: 100%;
    transition: 0.4s;
    transform: scale(0.9);
}
.products:hover img {
    transform: scale(0.95);
}

.lixi {
    background: yellow;
}
.contact {
    width: 100%;
    padding: 30px;
}
.contact .reach{
    width: 100%;
    height: 100%;
    position: relative;
    top: 30%;
}
.contact a{
    color: black;
    font-size: 25px;
}
.reach h5 {
    display: flex;
}